.region-primary-menu {
  .links {
    @apply flex space-x-4;
    a {
      @apply block py-4 border-b-4 border-transparent hover:text-gray-1 focus:text-gray-1;
      &.active {
        @apply border-primary text-white;
      }
    }
  }
}
