.tabs.primary {
  @apply flex space-x-8 m-0 mb-5;
  > li {
    @apply block m-0;
    a {
      @apply px-0 py-1 border-b-4 font-medium border-transparent hover:bg-transparent hover:text-primary;
      &.is-active {
        @apply bg-transparent border-primary text-primary;
      }
    }
  }
}
