/* FONT */
/* Please comment out the font you are not using */
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Sharp');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Two+Tone');

/* This theme works with 3 layers. It is important to put the CSS in the right layers. */

/* LAYER 1: BASE */
/* Here go the styles such as fonts, titles etc ... */
@import 'tailwindcss/base';
@import './base/index.pcss';

/* LAYER 2: COMPONENTS */
/* Nothing needs to be added in this layer.
Prefer the following layer "utilities". */
@import 'tailwindcss/components';

/* LAYER 3: UTILITIES */
/* It is in this last layer that most of your styles go.
Do not hesitate to add new files in the "utilities" folder to better organize the styles. */
@import 'tailwindcss/utilities';
@import './utilities/index.pcss';
