body {
  @apply max-w-full overflow-x-hidden text-base leading-normal text-body break-words;
  max-width: 100%;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

h1,
.h1 {
  @apply text-2xl font-light;
}
h2,
.h2 {
  @apply text-xl font-light;
}
h3,
.h3 {
  @apply text-lg font-normal;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  @apply text-base font-medium;
}
